In [1]:
import numpy as np
import pandas as pd
from statsmodels.formula.api import ols
import wooldridge
from scipy.stats import t

In [5]:
wooldridge.data()

  J.M. Wooldridge (2016) Introductory Econometrics: A Modern Approach,
  Cengage Learning, 6th edition.

  401k       401ksubs    admnrev       affairs     airfare
  alcohol    apple       approval      athlet1     athlet2
  attend     audit       barium        beauty      benefits
  beveridge  big9salary  bwght         bwght2      campus
  card       catholic    cement        census2000  ceosal1
  ceosal2    charity     consump       corn        countymurders
  cps78_85   cps91       crime1        crime2      crime3
  crime4     discrim     driving       earns       econmath
  elem94_95  engin       expendshares  ezanders    ezunem
  fair       fertil1     fertil2       fertil3     fish
  fringe     gpa1        gpa2          gpa3        happiness
  hprice1    hprice2     hprice3       hseinv      htv
  infmrt     injury      intdef        intqrt      inven
  jtrain     jtrain2     jtrain3       kielmc      lawsch85
  loanapp    lowbrth     mathpnl       meap00_01   meap01
  meap93     meapsingle  minwage       mlb1        mroz
  murder     nbasal      nyse          okun        openness
  pension    phillips    pntsprd       prison      prminwge
  rdchem     rdtelec     recid         rental      return
  saving     sleep75     slp75_81      smoke       traffic1
  traffic2   twoyear     volat         vote1       vote2
  voucher    wage1       wage2         wagepan     wageprc
  wine

In [6]:
# データの読み込み
cps = wooldridge.data('cps78_85')

cps.head(20)

,educ,south,nonwhite,female,married,exper,expersq,union,lwage,age,year,y85,y85fem,y85educ,y85union
0,12,0,0,0,0,8,64,0,1.2150,25,78,0,0,0,0
1,12,0,0,1,1,30,900,1,1.6094,47,78,0,0,0,0
2,6,0,0,0,1,38,1444,1,2.1401,49,78,0,0,0,0
3,12,0,0,0,1,19,361,1,2.0732,36,78,0,0,0,0
4,12,0,0,0,1,11,121,0,1.6490,28,78,0,0,0,0
5,8,0,0,0,1,43,1849,0,1.7148,56,78,0,0,0,0
6,11,0,0,0,0,2,4,0,1.0986,18,78,0,0,0,0
7,15,0,0,1,0,9,81,0,1.8326,29,78,0,0,0,0
8,16,0,0,1,0,17,289,0,0.3567,38,78,0,0,0,0
9,15,0,0,0,1,23,529,1,2.1547,43,78,0,0,0,0
10,15,0,0,0,1,39,1521,1,1.9867,59,78,0,0,0,0
11,12,0,0,1,1,5,25,1,1.7047,22,78,0,0,0,0
12,11,0,0,0,1,27,729,1,2.1102,43,78,0,0,0,0
13,12,0,0,0,1,29,841,0,1.8326,46,78,0,0,0,0
14,12,0,0,0,0,7,49,0,1.3083,24,78,0,0,0,0
15,12,0,0,1,0,42,1764,1,2.2300,59,78,0,0,0,0
16,18,0,0,0,1,35,1225,1,2.5257,58,78,0,0,0,0
17,18,0,0,1,1,31,961,1,2.3979,54,78,0,0,0,0
18,6,0,0,0,1,24,576,0,1.2528,35,78,0,0,0,0
19,14,0,1,0,1,14,196,1,2.0794,33,78,0,0,0,0

In [7]:
# 回帰分析

formula = 'lwage ~ y85 + educ + female + \
                   y85:educ + y85:female + \
                   exper + I((exper**2)/100) + union'

result = ols(formula, cps).fit()

In [9]:
result.summary(slim=True)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.426
Model:                            OLS   Adj. R-squared:                  0.422
No. Observations:                1084   F-statistic:                     99.80
Covariance Type:            nonrobust   Prob (F-statistic):          4.46e-124
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                 0.4589      0.093      4.911      0.000       0.276       0.642
y85                       0.1178      0.124      0.952      0.341      -0.125       0.361
educ                      0.0747      0.007     11.192      0.000       0.062       0.088
female                   -0.3167      0.037     -8.648      0.000      -0.389      -0.245
y85:educ                  0.0185      0.009      1.974      0.049       0.000       0.037
y85:female                0.0851      0.051      1.658      0.098      -0.016       0.186
exper                     0.0296      0.004      8.293      0.000       0.023       0.037
I((exper ** 2) / 100)    -0.0399      0.008     -5.151      0.000      -0.055      -0.025
union                     0.2021      0.030      6.672      0.000       0.143       0.262
=========================================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [10]:
kielmc = wooldridge.data('kielmc')

wooldridge.data('kielmc', description=True)

name of dataset: kielmc
no of variables: 25
no of observations: 321

+----------+---------------------------------+
| variable | label                           |
+----------+---------------------------------+
| year     | 1978 or 1981                    |
| age      | age of house                    |
| agesq    | age^2                           |
| nbh      | neighborhood, 1-6               |
| cbd      | dist. to cent. bus. dstrct, ft. |
| intst    | dist. to interstate, ft.        |
| lintst   | log(intst)                      |
| price    | selling price                   |
| rooms    | # rooms in house                |
| area     | square footage of house         |
| land     | square footage lot              |
| baths    | # bathrooms                     |
| dist     | dist. from house to incin., ft. |
| ldist    | log(dist)                       |
| wind     | prc. time wind incin. to house  |
| lprice   | log(price)                      |
| y81      | =1 if year == 1981              |
| larea    | log(area)                       |
| lland    | log(land)                       |
| y81ldist | y81*ldist                       |
| lintstsq | lintst^2                        |
| nearinc  | =1 if dist <= 15840             |
| y81nrinc | y81*nearinc                     |
| rprice   | price, 1978 dollars             |
| lrprice  | log(rprice)                     |
+----------+---------------------------------+

K.A. Kiel and K.T. McClain (1995), “House Prices During Siting
Decision Stages: The Case of an Incinerator from Rumor Through
Operation,” Journal of Environmental Economics and Management 28,
241-255. Professor McClain kindly provided the data, of which I used
only a subset.

In [16]:
formula = 'np.log(rprice) ~ nearinc + y81 + nearinc:y81+lland+larea+age+agesq'

result = ols(formula, data=kielmc).fit()

print(result.summary(slim=True))

                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(rprice)   R-squared:                       0.706
Model:                            OLS   Adj. R-squared:                  0.700
No. Observations:                 321   F-statistic:                     107.5
Covariance Type:            nonrobust   Prob (F-statistic):           2.25e-79
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       6.5484      0.340     19.249      0.000       5.879       7.218
nearinc         0.0673      0.044      1.524      0.129      -0.020       0.154
y81             0.1596      0.030      5.392      0.000       0.101       0.218
nearinc:y81    -0.1502      0.054     -2.803      0.005      -0.256      -0.045
lland           0.0782      0.021      3.765      0.000       0.037       0.119
larea           0.5208      0.041     12.732      0.000       0.440       0.601
age            -0.0108      0.001     -8.872      0.000      -0.013      -0.008
agesq          5.3e-05   7.84e-06      6.756      0.000    3.76e-05    6.84e-05
===============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.44e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [19]:
# url の設定
url = 'https://raw.githubusercontent.com/Haruyama-KobeU/Haruyama-KobeU.github.io/master/data/data4.csv'

# 読み込み
df = pd.read_csv(url)

df = df.sort_values(['country','year']).reset_index(drop=True)

df_group = df.groupby('country')

df_group

In [35]:

df_diff = df_group[["gdp","inv","con","pop"]].diff()\
    .rename(columns={'gdp':'gdp_diff','inv':'inv_diff','con':'con_diff','pop':'pop_diff'})

df_diff

df_merged = pd.merge(df,df_diff,left_index=True,right_index=True)

In [36]:
df_merged

,year,country,gdp,inv,con,pop,gdp_diff,inv_diff,con_diff,pop_diff
0,2000,Australia,90,30.0,50.0,10,NaN,NaN,NaN,NaN
1,2001,Australia,100,40.0,80.0,11,10.0,10.0,30.0,1.0
2,2002,Australia,120,NaN,70.0,16,20.0,NaN,-10.0,5.0
3,2000,Japan,100,20.0,80.0,8,NaN,NaN,NaN,NaN
4,2001,Japan,95,25.0,70.0,9,-5.0,5.0,-10.0,1.0
5,2002,Japan,93,21.0,72.0,10,-2.0,-4.0,2.0,1.0
6,2000,UK,100,30.0,70.0,11,NaN,NaN,NaN,NaN
7,2001,UK,110,39.0,71.0,12,10.0,9.0,1.0,1.0
8,2002,UK,115,55.0,NaN,14,5.0,16.0,NaN,2.0

In [40]:
df["lag1"] = df.groupby('country')[["gdp"]].diff()

df

   year    country  gdp   inv   con  pop  lag1
0  2000  Australia   90  30.0  50.0   10   NaN
1  2001  Australia  100  40.0  80.0   11  10.0
2  2002  Australia  120   NaN  70.0   16  20.0
3  2000      Japan  100  20.0  80.0    8   NaN
4  2001      Japan   95  25.0  70.0    9  -5.0
5  2002      Japan   93  21.0  72.0   10  -2.0
6  2000         UK  100  30.0  70.0   11   NaN
7  2001         UK  110  39.0  71.0   12  10.0
8  2002         UK  115  55.0   NaN   14   5.0

In [41]:
crime2 = wooldridge.data('crime2')

crime2.head(10)

,pop,crimes,unem,officers,pcinc,west,nrtheast,south,year,area,...,clcrimes,clpop,clcrmrte,lpolpc,clpolpc,cllawexp,cunem,clpopden,lcrmrt_1,ccrmrte
0,229528.0,17136.0,8.2,326,8532,1,0,0,82,44.599998,...,NaN,NaN,NaN,0.350872,NaN,NaN,NaN,NaN,NaN,NaN
1,246815.0,17306.0,3.7,321,12155,1,0,0,87,44.599998,...,0.009871,0.072614,-0.062743,0.262802,-0.088070,0.977952,-4.500000,0.072615,4.312912,-4.540268
2,814054.0,75654.0,8.1,1621,7551,1,0,0,82,375.000000,...,NaN,NaN,NaN,0.688772,NaN,NaN,NaN,NaN,NaN,NaN
3,933177.0,83960.0,5.4,1803,11363,1,0,0,87,375.000000,...,0.104170,0.136568,-0.032398,0.658612,-0.030160,0.200762,-2.700000,0.136568,4.531899,-2.962654
4,374974.0,31352.0,9.0,633,8343,1,0,0,82,49.799999,...,NaN,NaN,NaN,0.523614,NaN,NaN,NaN,NaN,NaN,NaN
5,406297.0,31364.0,5.9,685,11729,1,0,0,87,49.799999,...,0.000383,0.080228,-0.079845,0.522334,-0.001279,0.320388,-3.100000,0.080228,4.426177,-6.416374
6,176496.0,15698.0,12.6,245,7592,1,0,0,82,74.000000,...,NaN,NaN,NaN,0.327960,NaN,NaN,NaN,NaN,NaN,NaN
7,201723.0,16953.0,5.7,259,10802,1,0,0,87,74.000000,...,0.076912,0.133597,-0.056686,0.249933,-0.078027,0.131388,-6.900001,0.133597,4.487990,-4.901543
8,288446.0,31202.0,12.6,504,7558,1,0,0,82,97.300003,...,NaN,NaN,NaN,0.558068,NaN,NaN,NaN,NaN,NaN,NaN
9,331728.0,34355.0,7.4,563,10627,1,0,0,87,97.300003,...,0.096266,0.139808,-0.043542,0.528964,-0.029104,0.159845,-5.200000,0.139808,4.683730,-4.608994

In [46]:
crime2["id"] = np.repeat(np.array(list(range(1,int(len(crime2)/2)+1,1))),2)

In [48]:
var = ['unem', 'crmrte']  # groupbyで差分を取る列の指定

names = {'unem':'unem_diff', 'crmrte':'crmrte_diff'}  # 差分の列のラベル

crime2_diff = crime2.groupby('id')[var].diff().rename(columns=names)

crime2_diff.head()

   unem_diff  crmrte_diff
0        NaN          NaN
1       -4.5    -4.540268
2        NaN          NaN
3       -2.7    -2.962654
4        NaN          NaN

In [49]:
formula_1 = 'crmrte_diff ~ unem_diff'

result_1 = ols(formula_1, crime2_diff).fit()

print(result_1.summary(slim=True))

                            OLS Regression Results
==============================================================================
Dep. Variable:            crmrte_diff   R-squared:                       0.127
Model:                            OLS   Adj. R-squared:                  0.107
No. Observations:                  46   F-statistic:                     6.384
Covariance Type:            nonrobust   Prob (F-statistic):             0.0152
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     15.4022      4.702      3.276      0.002       5.926      24.879
unem_diff      2.2180      0.878      2.527      0.015       0.449       3.987
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [50]:
crime4 = wooldridge.data('crime4')
crime4.head()

,county,year,crmrte,prbarr,prbconv,prbpris,avgsen,polpc,density,taxpc,...,lpctymle,lpctmin,clcrmrte,clprbarr,clprbcon,clprbpri,clavgsen,clpolpc,cltaxpc,clmix
0,1,81,0.039885,0.289696,0.402062,0.472222,5.61,0.001787,2.307159,25.697630,...,-2.433870,3.006608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,82,0.038345,0.338111,0.433005,0.506993,5.59,0.001767,2.330254,24.874252,...,-2.449038,3.006608,-0.039376,0.154542,0.074143,0.071048,-0.003571,-0.011364,-0.032565,0.030857
2,1,83,0.030305,0.330449,0.525703,0.479705,5.80,0.001836,2.341801,26.451443,...,-2.464036,3.006608,-0.235316,-0.022922,0.193987,-0.055326,0.036879,0.038413,0.061477,-0.244732
3,1,84,0.034726,0.362525,0.604706,0.520104,6.89,0.001886,2.346420,26.842348,...,-2.478925,3.006608,0.136180,0.092641,0.140006,0.080857,0.172213,0.026930,0.014670,-0.027331
4,1,85,0.036573,0.325395,0.578723,0.497059,6.55,0.001924,2.364896,28.140337,...,-2.497306,3.006608,0.051825,-0.108054,-0.043918,-0.045320,-0.050606,0.020199,0.047223,0.172125

In [51]:
# グループ化
crime4_group = crime4.groupby('county')

# 差分を計算したい変数
var = ['lcrmrte', 'lprbarr', 'lprbconv', 'lprbpris', 'lavgsen', 'lpolpc']

# 差分のDataFrame
crime4_diff = crime4_group[var].diff()

# DataFrameの結合
crime4 = pd.merge(crime4, crime4_diff, 
                  left_index=True, right_index=True,
                  suffixes=('','_diff'))

In [52]:
formula_2 = 'lcrmrte_diff ~ d83 + d84 + d85 + d86 + d87 + \
                            lprbarr_diff + lprbconv_diff + \
                            lprbpris_diff + lavgsen_diff + \
                            lpolpc_diff'

result_2 = ols(formula_2, crime4).fit()

print(result_2.summary(slim=True))

                            OLS Regression Results
==============================================================================
Dep. Variable:           lcrmrte_diff   R-squared:                       0.433
Model:                            OLS   Adj. R-squared:                  0.422
No. Observations:                 540   F-statistic:                     40.32
Covariance Type:            nonrobust   Prob (F-statistic):           6.30e-59
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         0.0077      0.017      0.452      0.651      -0.026       0.041
d83              -0.0999      0.024     -4.179      0.000      -0.147      -0.053
d84              -0.0479      0.024     -2.040      0.042      -0.094      -0.002
d85              -0.0046      0.023     -0.196      0.845      -0.051       0.042
d86               0.0275      0.024      1.139      0.255      -0.020       0.075
d87               0.0408      0.024      1.672      0.095      -0.007       0.089
lprbarr_diff     -0.3275      0.030    -10.924      0.000      -0.386      -0.269
lprbconv_diff    -0.2381      0.018    -13.058      0.000      -0.274      -0.202
lprbpris_diff    -0.1650      0.026     -6.356      0.000      -0.216      -0.114
lavgsen_diff     -0.0218      0.022     -0.985      0.325      -0.065       0.022
lpolpc_diff       0.3984      0.027     14.821      0.000       0.346       0.451
=================================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.